<!-- Nom: Loic Leonetti -->
<!-- Date: 2024-02-24   -->


	<div class="row entete"> <img class="col-3 img-fluid" style="width: 150px" src="images/logo.png" alt="logo">
	<section class='col-9'>

		<h1>Chatropie</h1>

	</section>

</div>
<div class="bandeau">

	<a href="{{path('catalogue')}}"><button class="btn btn-secondary">Catalogue</button></a>

	<a href="{{path('contact')}}"><button class="btn btn-secondary">Contact</button></a>

	{% if clientConnecte is not defined or clientConnecte is null %}
		<a href="{{path('creationClient')}}"><button class="btn btn-secondary">Créer un compte</button></a>
		<a href="{{path('connexion')}}"><button class="btn btn-secondary">Connexion</button></a>
	{% else %}
		<a href="{{path('deconnexion')}}"><button class="btn btn-secondary">Déconnexion</button></a>
		<a href="{{path('modification')}}"><button class="btn btn-secondary">Modification</button></a>
		<a href="{{path('historique')}}"><button class="btn btn-secondary">Historique des achats</button></a>
	{% endif %}


	{% if panier.getNombreItem() > 1 %}
		<a href="{{path('panier')}}">
			<button class="btn btn-secondary">Panier
				{{panier.getNombreItem()}}
				items</button>
		</a>
	{% else %}
		<a href="{{path('panier')}}">
			<button class="btn btn-secondary">Panier
				{{panier.getNombreItem()}}
				item</button>
		</a>
	{% endif %}
</div>
