<!-- Nom: Loic Leonetti -->
<!-- Date: 2024-02-24   -->

<div class="row">


    <section class="col-6">
        <img class="produitImage" src="images/produits/{{produit.image}}.png" alt="{{produit.nom}}">
    </section>

	<section class="col-6">

		<h1>{{produit.nom}}</h1>

		<h2>{{categorie.description}}</h2>

		<p>{{produit.description}}</p>

		<hr>

		<h3>Prix: {{produit.prix}}$</h3>

		<p>Quantité en inventaire: {{produit.Qttestock}}</p>

	</section>


</div>
