<div class="row">


    <section class="col-6">
        
    </section>

	<section class="col-6">

		<h1>{{produit.nom}}</h1>

		<h1>{{categorie.description}}</h1>

		<h1>{{produit.description}}</h1>

		<hr>

		<h1>{{produit.prix}}</h1>

		<h1>{{produit.Qttestock}}</h1>

	</section>


</div>
